.food-display {
    margin-top: 30px;
    margin-bottom: 50px;
}

.food-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
}

.food-display-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-all-btn {
    background-color: transparent;
    border: 1px solid #FF4C24;
    color: #FF4C24;
    padding: 8px 15px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.view-all-btn:hover {
    background-color: #FF4C24;
    color: white;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}